<% if @current_user.firestation === false %>
  <h1>CURRENT EMERGENCIES AT MY BUILDING</h1>


    <% @current_user.emergencies.each do |emergency| %>

      <div class="emergency">

        <div class="firestation_status"
          <h1>FIRESTATION STATUS:</h1>
        </div>

        <div class="user_status"
          <h1>MY STATUS:</h1>
          <%= form_for emergency, url: emergency_path(emergency.id) do |f| %>
            <%= f.button  :submit, name: "user_status", value: "Safe"%>
          <% end %>
        </div>

      </div>

    <% end %>

<% end %>
