<h1 class="welcome">WELCOME TO PETSAFE</h1>

<p class="description">Petsafe allows you to be aware of your pet's safety during a fire emergency in your apartment or condo building. Your local firestation response team will submit an emergency when there is a fire, and you will stay in-the-know up to the minute through personal, back and forth statuses between you and the firestation.</p>
