/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**************************
 MAIN SECTION
**************************/

.main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/**************************
TOP NAV BAR
**************************/

header {
  background-color: #4CB963;
}

header h1 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.1em;
  padding: 0.7em 0 0 0.5em;
}

header h1 a {
  color: rgba(255, 255, 255, 0.73);
  text-decoration: none;
}

header ul {
  padding-bottom: 1.5em;
}

header ul li {
  display: inline-block;
  font-weight: 600;
  font-size: 0.8em;
  color: rgb(92, 92, 92);
}

#sign_up {
  font-weight: 600;
}

header ul li a {
  font-family: sans-serif;
  text-decoration: none;
  padding: 0.5em 0.4em;
}

header li a:visited {
  color: currentColor;
}

/**************************
USER SHOW PAGE
**************************/

.current_emergency {
  color: #fe5c31;
  font-size: 2.5em;
  margin-top: 0.5em;
  font-weight: 600;
}

.emergency h4 {
  color: rgb(177, 177, 177);
  font-weight: 300;
  margin-bottom: 0;
  font-size: 0.7em;
}

.emergency h5 {
  color: rgb(103, 103, 103);
  margin-top: 0;
}

.user_status {
  margin-bottom: 2em;
  margin-top: 2em;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-bottom: 0.5em;
}

.user_status h3 {
  color: rgb(91, 91, 91);
  font-weight: 700;
}

.firestation_status h3 {
  color: rgb(91, 91, 91);
  font-weight: 700;
}

.firestation_status h2 {
  color: rgb(177, 177, 177);
  font-weight: 300;
  font-size: 2em;
}

.user_status form {
  display: inline-block;
}

.user_status form button {
  padding: 1.5em 3em;
  background-color: #ffffff;
  border: none;
  color: rgb(204, 204, 204);
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  display: inline-block;
  font-size: 1.2em;
}

.user_status form button:hover {
  cursor: pointer;
}

/**************************
INPUT FORMS
**************************/
.petowner_signup h2,
.firestation_signup h2,
.user_login h1  {
  color: rgb(91, 91, 91);
  font-weight: 300;
  margin-bottom: 1.5em;
}

.petowner_signup form,
.firestation_signup form,
.user_login form {
  text-align: center;
}

.petowner_signup form label,
.firestation_signup form label,
.user_login form label {
  display: block;
  color: rgb(73, 73, 73);
  font-weight: 600;

}

.petowner_signup form input,
.firestation_signup form input,
.user_login form input {
  width: 85%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.3em 0.3em;
  color: rgb(130, 130, 130);
}


.petowner_signup {
  /*display: none;*/
}

.firestation_signup {
  /*display: none;*/
}
